<!doctype html>
<html lang="en">
<head>
    <title>Register a company account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assestCP/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>
<body>
    @RenderBody()
    <script src="~/assestCP/js/jquery.min.js"></script>
    <script src="~/assestCP/js/popper.js"></script>
    <script src="~/assestCP/js/bootstrap.min.js"></script>
    <script src="~/assestCP/js/main.js"></script>

</body>
</html>

